* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, sans-serif;
  background: url(bg.png);
  background-size: cover;
}

nav {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 2rem 0;
  transition: background-color 0.3s ease, padding 0.3s ease;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
}

nav:hover {
  background-color: #444; /* Change background color on hover */
  padding: 2.5rem 0; /* Adjust padding on hover */
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin: 0 2rem;
}

/* Tooltip for "Instructions" link */
.instructions-tooltip {
  position: relative;
}

.instructions-tooltip .tooltip {
  position: absolute;
  top: 200%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  padding: 5px;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  width: 60rem;
  text-align: justify;
  padding: 2rem;
  color: #edcbd7;
}

.instructions-tooltip:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

nav a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #e64980; /* Change link color on hover */
}

.board {
  height: 45rem;
  width: 45rem;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;

  display: grid;
  grid-template-columns: repeat(9, 1fr);
  box-shadow: 2px 2px 4rem #e64980, -2px 2px 4rem #e64980, 2px -2px 4rem #e64980;
  border-radius: 4rem;
  overflow: hidden;
  border: 4px solid #790030;
}

.block {
  /* height: 10px; */
  border: 1px solid rgb(135, 130, 133);
}

.input-field {
  font-weight: 600;
  font-size: 2rem;
  height: 100%;
  width: 100%;
  text-align: center;
  border: none;
  color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.alert-container {
  z-index: 11;
  background: #e189ac2c;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.alert {
  position: absolute;
  height: 30%;
  width: 25%;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
}

.del {
  cursor: pointer;
  align-self: flex-end;
  font-size: 2rem;
  padding: 1rem;
  /* background-color: #790030; */
}

.alert-msg {
  height: 80%;
  transform: translateY(-10%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-family: sans-serif;
}

.fa-circle-xmark {
  padding-left: 5px;
}

.hidden {
  display: none;
}

.fa-trash:hover {
  display: inline-block;
  cursor: pointer;
}

.btn {
  font-family: sans-serif;
  display: inline-block;
  height: 4rem;
  width: 10rem;
  background-color: #e64980;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  position: absolute;
}

.btn:link,
.btn:visited {
  box-shadow: 0px 5px 5px white;
  text-decoration: none;
  font-size: 2.4rem;
  color: white;
}

/* mouse over link */
.btn:hover {
  background-color: #790030;
  box-shadow: 0px 3px 5px white;
}

.bnt:active {
  box-shadow: 0px 5px 5px white;
}

.btn-submit {
  position: absolute;
  bottom: 10%;
  left: 20%;
}

.btn-clear {
  position: absolute;
  bottom: 10%;
  right: 20%;
}

.welcome-window {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 12;
  /* background-color: #e64980; */
  display: flex;
  background-image: linear-gradient(#c2255c, #333, #edcbd7);
  justify-content: center;
  align-items: center;
}

.bimg {
  height: 18rem;
  width: 18rem;
  background-repeat: no-repeat;
  background-image: url(welcome.png);
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 2rem 0;
  font-size: 1.4rem;

  transition: background-color 0.3s ease;
  position: fixed;
  width: 100%;
  left: 0%;
  bottom: 0;
  /* top: 100%; */
}

.footer:hover {
  background-color: #444;
}

.icon {
  font-size: 1.8rem;
  padding-left: 7px;
  padding-right: 7px;
}

.footer a:link,
.footer a:visited {
  color: #c2255c;
}

.footer span {
  color: #e64980;
}
